doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://pubnub.github.io/eon/v/eon/1.0.0/eon.css")
    script(src="https://pubnub.github.io/eon/v/eon/1.0.0/eon.js")
  body
    block content
